# Ignorer les environnements virtuels
venv/
.env/
env/
ENV/
env.bak/
venv.bak/

# Ignorer les fichiers Python compilés
__pycache__/
*.py[cod]

# Ignorer les fichiers de logs et caches
*.log
*.temp
*.cache
*.bak
*.swp
.tox/
.nox/
.pytest_cache/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de données brutes (ajoute ici tes fichiers volumineux)
data/raw/*.csv
checkpoints/20250226_161155/backtest_results.pkl
checkpoints/20250226_161155/best_params.pkl
checkpoints/20250227_093457/sequences.pkl
checkpoints/20250227_093457/data_dict.pkl
checkpoints/20250226_190355/sequences.pkl
checkpoints/20250226_190355/data_dict.pkl
checkpoints/20250226_190228/sequences.pkl
checkpoints/20250226_190228/data_dict.pkl
checkpoints/20250226_161155/training_history.pkl
checkpoints/20250226_161155/model/epoch_5.keras
checkpoints/20250226_161155/model/epoch_15.keras
checkpoints/20250226_161155/model/epoch_10.keras
data/historical/XAU_15m_data.csv
data/historical/XAU_1d_data.csv
data/historical/XAUUSD_1w.csv
data/historical/XAUUSD_1M.csv
data/historical/XAUUSD_1d.csv
data/historical/XAU_5m_data.csv
data/historical/XAU_4h_data.csv
data/historical/XAU_30m_data.csv
data/historical/XAU_1w_data.csv
data/historical/XAU_1Month_data.csv
data/historical/XAU_1h_data.csv
data/historical/XAU_1d_data.csv
data/historical/XAU_15m_data.csv
checkpoints/20250226_161155/data_dict.pkl
checkpoints/20250226_161155/sequences.pkl
checkpoints/20250226_161155/sequences.pkl
checkpoints/20250226_161155/data_dict.pkl
checkpoints/20250226_161155/sequences.pkl
checkpoints/20250226_161155/data_dict.pkl
checkpoints/20250225_055811/training_history.pkl
checkpoints/20250225_055811/sequences.pkl
checkpoints/20250225_055811/model/epoch_5.keras
checkpoints/20250225_055811/model/epoch_10.keras
checkpoints/20250225_055811/data_dict.pkl
checkpoints/20250225_055811/best_params.pkl
checkpoints/20250225_055811/backtest_results.pkl
checkpoints/20250224_210020/training_history.pkl
checkpoints/20250224_210020/sequences.pkl
checkpoints/20250224_210020/model/epoch_5.keras
checkpoints/20250224_210020/model/epoch_10.keras
checkpoints/20250224_210020/error_state.pkl
checkpoints/20250224_210020/data_dict.pkl
checkpoints/20250224_210020/best_params.pkl
checkpoints/20250224_182742/sequences.pkl
checkpoints/20250224_182742/data_dict.pkl
checkpoints/20250224_153006/training_history.pkl
checkpoints/20250224_153006/sequences.pkl
checkpoints/20250224_153006/model/epoch_5.keras
checkpoints/20250224_153006/model/epoch_10.keras
checkpoints/20250224_153006/error_state.pkl
checkpoints/20250224_153006/data_dict.pkl
checkpoints/20250224_153006/best_params.pkl
checkpoints/20250224_150602/sequences.pkl
checkpoints/20250224_150602/error_state.pkl
checkpoints/20250224_150602/data_dict.pkl
checkpoints/20250224_150602/best_params.pkl
checkpoints/20250224_150319/sequences.pkl
checkpoints/20250224_150319/error_state.pkl
checkpoints/20250224_150319/data_dict.pkl
checkpoints/20250224_150319/best_params.pkl
checkpoints/20250224_145929/sequences.pkl
checkpoints/20250224_145929/error_state.pkl
checkpoints/20250224_145929/data_dict.pkl
checkpoints/20250224_145929/best_params.pkl
checkpoints/20250224_143340/error_state.pkl
checkpoints/20250224_141010/sequences.pkl
checkpoints/20250224_141010/error_state.pkl
checkpoints/20250224_141010/data_dict.pkl
checkpoints/20250224_141010/best_params.pkl
